
<%= javascript_include_tag 'jquery.ba-url', 'pagination' %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
	   <table class="show">
		<tr>
		<td rowspan = 2>
        <%= gravatar_for @user , :size => 100 %>
        </td>
        <td>
        <%= @user.name %>
        </td>
        </tr>
        <tr>
	    <td>(<%= @user.username %>)</td>
	    </tr>
       </table>
      </h1>
      
      <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
       
       <%= render 'shared/search_form' , :path => user_path(@user) , :lable => 'Microposts'%><br/>

<div id='paginated_list'>
       <%= render 'microposts' %>
</div>
	
    <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong> <%= pluralize(@user.microposts.count,'micropost') %> </strong>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
