<header>
  
  <%#= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to_unless_current "Home", root_path %></li>

    <% if signed_in? %>
    <li><%= link_to_unless_current "Profile",  current_user %></li>
    <li><%= link_to_unless_current "Users",    users_path %></li>
    <li><%= link_to_unless_current "Events",   events_path %></li>
    <li><%= link_to_unless_current "Settings", edit_user_path(current_user) %></li>
    <% end %>

      <li><%= link_to_unless_current "Help", help_path %></li>
	<% if signed_in? %>
	  <li><%= link_to_unless_current "Sign out", signout_path, :method => :delete %></li>
	<% else %>
	   <li><%= link_to_unless_current "Sign in", signin_path %></li>
	<% end %>
    </ul>
  </nav>
</header>

