%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body.main
    .container
      - if current_page?(root_path) || current_page?(:controller => 'pages', :action => 'home')
        %p
          - if mobile_device?
            = link_to "Full Site", :mobile => 0
          - else
            = link_to "Mobile Site", :mobile => 1
      = render 'layouts/header'
      %section.round
        - flash.each do |key, value|
          %div{class: "flash #{key}"}= value
        = yield
      %section#external_links.round
        %header
          %h4 External links
        %button
          %a{href: "http://www.westwoodcycle.com/", target: "_"} Westwood Cycle
        %button
          %a{href: "http://www.usacycling.org/", target: "_"} USA Cycling
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?

