<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body class="main">
    <div class="container">
	
 	<%# if current_page?(root_path) || current_page?(:controller => 'pages', :action => 'home') %> 
		<p>
	        <% if mobile_device? %>
	          <%= link_to "Full Site", :mobile => 0 %>
	        <% else %>
	          <%= link_to "Mobile Site", :mobile => 1 %>
	        <% end %>
	      </p>
 	<%# end %> 
	
      <%= render 'layouts/header' %>
      <section class="round">
	  <% flash.each do |key, value| %>
	    <div class="flash <%= key %>"> <%= value %> </div>
	  <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development?  %>
    </div>
  </body>
</html>


